<!DOCTYPE html>
<html ng-app="iRave">
<head>
  <meta charset="utf-8"/>
  <title>Circle</title>
  <link rel="stylesheet" href="css/stylesheet.css" />
  <script type="text/javascript"  src="js/angular.min.js"></script>
  <script type="text/javascript"  src="js/irave.js"></script>
  <!-- AngularJS templates have to be inlined in this file -->
  <script type="text/ng-template" id="licenseTemplate">
    <div class="license">
      <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
        <img alt="Creative Commons License" style="border-width:0" src="img/cc-by-nc.png" />
      </a>
      <a href="https://www.flickr.com/photos/anirudhkoul/3804551632/in/gallery-52003542@N07-72157624486289768/">
        <span id="atribution">Original image by Anirudh Koul</span>
      </a>
    </div>
  </script>
</head>


<body>

<div ng-controller="ScreenController as screen" class="screen">
    <!-- Main display -->
    <div id="mainDisplay" class="mainscreen">{{screen.display}}</div>
   
    <!-- buttons -->
    <div class="button left-button"  
         ng-click="screen.doLeftButton()"
         ng-show="screen.leftButton"><a href="#">{{screen.leftButton}}</a></div>
    <div class="button mid-button"
         ng-click="screen.doMiddleButton()"
         ng-show="screen.midButton"><a href="#">{{screen.midButton}}</a></div>
    <div class="button right-button" 
         ng-click="screen.doRightButton()"
         ng-show="screen.rightButton"><a href="#">{{screen.rightButton}}</a></div>
   
   <!-- scroll -->
    
</div>

<img-license></img-license>

</body>
</html>
