<!DOCTYPE html>
<html ng-app="iRave">
<head>
  <meta charset="utf-8"/>
  <title>Circle</title>
  <link rel="stylesheet" href="css/stylesheet.css" />
  <script type="text/javascript"  src="js/jquery-2.1.3.min.js"></script>
  <script type="text/javascript"  src="js/angular.min.js"></script>
  <script type="text/javascript"  src="js/state.js"></script>
  <script type="text/javascript"  src="js/irave.js"></script>
  <!-- AngularJS templates have to be inlined in this file -->
  <script type="text/ng-template" id="licenseTemplate">
    <div class="license">
      <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
        <img alt="Creative Commons License" style="border-width:0" src="img/cc-by-nc.png" />
      </a>
      <a href="https://www.flickr.com/photos/anirudhkoul/3804551632/in/gallery-52003542@N07-72157624486289768/">
        <span id="atribution">Original image by Anirudh Koul</span>
      </a>
    </div>
  </script>
</head>


<body>

<div ng-controller="ScreenController as screen" class="irave-background">
<p>iRave™</p>

<div class="screen">
    <!-- Titlebar -->
    <div class="titlebar">{{screen.state.titlebar}}</div>
    
    <!-- Main display -->
    <div id="mainDisplay" class="mainscreen" ng-click="screen.state.passeNoLeitor()">{{screen.state.mainscreen}}</div>
   
    <!-- buttons -->
    <div class="button left-button">{{screen.state.leftButtonText}}</div>
         
    <div class="button mid-button"
         ng-style="screen.state.middleButtonStyle">{{screen.state.middleButtonText}}
      <img ng-show="screen.state.showHome" src="img/home.png"></img>
    </div>
         
    <div class="button right-button">{{screen.state.rightButtonText}}
      <img ng-show="screen.state.showCart" src="img/plus_cart.png"></img>
    </div>
   
   <!-- scroll -->
   <div class="scrollPointer" ng-show="screen.state.hasScroll">
     <div class="left">  &gt </div>
     <div class="right"> &lt </div>
     <!-- mudar estilo consoante se há mais ou não -->
     <div id="more-up"   
          ng-style="screen.state.moreUpStyle">
       <a href="#" ng-click="screen.state.scrollUp()">   &#8657</a></div>
     <div id="more-down" 
          ng-style="screen.state.moreDownStyle">
       <a href="#" ng-click="screen.state.scrollDown()"> &#8659 </a></div>
   </div>
   <ul class="scroll" ng-style="screen.state.scrollStyle">
     <li class="scroll-element" ng-repeat="scrollElement in screen.state.visibleScrollElements">{{scrollElement}}</li>
   </ul>    
</div>

<img id="leftbutton"  ng-click="screen.state.doLeftButton()"   src="img/button.png"></img>
<img id="midbutton"   ng-click="screen.state.doMiddleButton()" src="img/button.png"></img>
<img id="rightbutton" ng-click="screen.state.doRightButton()"  src="img/button.png"></img>
</div>

<img-license></img-license>

</body>
</html>
